@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62 5%;
}
.App {
  font-family: "Montserrat", sans-serif;
}

/* ----------header---------- */
.header {
  background-color: #04060b;
  color: #ffa500;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.logo {
  width: 7rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  margin-bottom: 2rem;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: -100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: #04060b;
  background-color: #ffa600;
  transition: all 0.3s;
  gap: 3rem;
  font-size: 1.2rem;
}
.btn {
  background: none;
  border: none;
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
}
.cross-icon {
  filter: brightness(1%);
}
li {
  list-style: none;
  padding: 0.5rem;
  cursor: pointer;
}
li:hover {
  transform: scale(1.1);
}
.navbar-list.active {
  right: 0;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.quiz-info {
  padding: 1rem 3rem;
}
.quiz-info button {
  background: #ff5400;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 1.1rem;
  margin-top: 2.5rem;
}
.quiz-info button:hover {
  background: #ff6c23;
  transform: scale(1.1);
}

.question-mark img {
  width: 30%;
  margin-bottom: 1rem;
}
.quiz-info {
  padding: 1rem;
  order: 2;
}
.quiz-info-text {
  margin-bottom: 1.5rem;
}

/* ----------Media Queries---------- */
@media (max-width: 600px) {
}

@media (min-width: 601px) and (max-width: 900px) {
}

@media (min-width: 901px) and (max-width: 1200px) {
}

@media (min-width: 1201px) {
}
